body{
  background-color: white;
}


form{
  background-color: rgb(187, 187, 187);
  width: 385px;
  margin-top: 18px;
  margin-left: 228px;
  margin-bottom: 85px;
  height: 209px;
  padding: 1px 0px 10px 15px;
}

.name{
  height: 35px;
}
.namelabel::after{
  content: "*";
  color: red;
}


.age{
  height: 35px;
}
.age1::after{
  content: "*";
  color: red;
}


.email{
  height: 35px;
}
.mail::after{
  content: "*";
  color: red;
}


.phone{
  height: 35px;
}
.number::after{
  content: "*";
  color: red;
}


.gender{
  height: 35px;
}


.submit{
  width: 58px;
  margin-left: 310px;
}