body{
  background-color: white;
}


form{
  background-color: rgb(187, 187, 187);
  width: 900px;
  margin-top: 18px;
  margin-left: 228px;
  margin-bottom: 85px;
  padding: 1px 0px 10px 15px;
}
.error{
  color: red;
}

.name{
  margin-bottom: 25px;
  margin-top: 10px;
}
.namelabel::after{
  content: "*";
  color: red;
}


.age{
  margin-bottom: 25px;
}
.age1::after{
  content: "*";
  color: red;
}


.email{
  margin-bottom: 25px;
}
.mail::after{
  content: "*";
  color: red;
}


.phone{
  margin-bottom: 25px;
}
.number::after{
  content: "*";
  color: red;
}


.gender{
  margin-bottom: 25px;
}


.days{
  margin-top: 40px;
}
.day{
  margin-bottom: 35px;
  margin-top: 20px;
}
.Sunday{
  font-size: 22px;
}
#dropdown1{
  margin-left: 220px;
  font-size: 15px;
}
.Monday{
  font-size: 22px;
}
#dropdown2{
  margin-left: 212px;
  font-size: 15px;
}
.Tuesday{
  font-size: 22px;
}
#dropdown3{
  margin-left: 212px;
  font-size: 15px;
}
.Wednesday{
  font-size: 22px;
}
#dropdown4{
  margin-left: 185px;
  font-size: 15px;
}
.Thursday{
  font-size: 22px;
}
#dropdown5{
  margin-left: 203px;
  font-size: 15px;
}
.Friday{
  font-size: 22px;
}
#dropdown6{
  margin-left: 228px;
  font-size: 15px;
}
.Saturday{
  font-size: 22px;
}
#dropdown7{
  margin-left: 208px;
  font-size: 15px;
}

#dropdown{
  background-color: lightgray;
  color: rgb(83, 83, 83);
}
.checkbox{
  margin-top: 50px;
}
.first_check{
  font-size: 22px;
}



.submit{
  width: 58px;
  margin-left: 800px;
}